services:

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./WebApi/Images:/usr/share/nginx/html

  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: b4f327d8c5364129a721c5db7ce9c142
      POSTGRES_DB: marketplace
    hostname: dbhost
  
  marketplace:
     build:
       context: .
       dockerfile: Dockerfile
     ports:
      - 8080:8080